@import url(./reset.css);

:root {
    --timberwolf: #dad5d5ff;
    --timberwolf-2: #d9cdcdff;
    --licorice: #1e191aff;
    --silver: #ada9a9ff;
    --hover-color: #0576ff;
    --color-title: #fafafafa;
    --header-bgcolor: #30363d;
}


header{
    background-color: var(--header-bgcolor);
    margin: 0;
    padding: 0;
}

.navbar{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: auto 0;
    padding: 10px ;
    justify-content: space-between;
    align-items: center;
  }


.navbar h1{
    color: var(--color-title);
    font-size: 3.5rem;
    font-weight:lighter;
    letter-spacing: 0.8rem;
}

.navbar h1 span{
    font-weight: 500;
    color: var(--hover-color);
}



.navbar .links{
    display: flex;
    gap: 2.6rem;
    margin-right: 0;
}

.navbar .links a{
    color: var(--color-title);
    font-size: 1.7rem;
    font-weight: 300;
}

.navbar .links li a:hover{
    color: var(--hover-color);
    transition: .3s;
}

.navbar .links li a::after{
    position: relative;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--hover-color);
    transform: scale(0);
    transition: transform .3s ease-in-out;
}

.navbar .links li a:hover::after{
    transform: scale(1);
}

.menu-icon{
    display: none;
}

.welcomeword { 
    color: var(--color-title);
    text-align: center;
    padding-top: 25px;
    
}

.welcomeword h1{
    letter-spacing: 1.6rem;
    padding: 1.5rem;
}

.line{
    display: flex;
    content: "";
    margin: 20px auto;
    width: 100px;
    height: 3px;
    justify-content: center;
    background: var(--hover-color);
    
}

.welcomeword p{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1rem;
}


@media screen and (max-width: 1080px) { 
    .menu-icon{
        display: block;
        position: absolute;
        right: 10px;
        width: 35px;
        transition: .4s;
            
    }
    
    .menu-icon:hover{
        cursor: pointer;
        
    }
    
    .menu-icon:active{
        background-color: #f3f5f686;
        border-radius: 3px;
    }
    .navbar .links {
        top: 81px;
        right: 0;
        position: fixed;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80vh;
        justify-content: center;
        text-align: left;
        gap: 4rem;
        margin-right: -100%;
        padding: 5px 40px;
        transition: all 0.5s ease;
        
    }

    .links.mobile-menu{
        margin-right: 0;
    }

    .navbar .links li a{
        color: var(--header-bgcolor);
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 0.5rem;
    }
    .navbar .links li a:hover{
        color: var(--hover-color);
    }

    .navbar .links li a::after{
        display: none;
    }

    
}

@media screen and (max-width: 466px) { 
    .navbar{
        padding: 40px 10px;
    }
    .navbar h1{
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
    }

        
}
